HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#Spring YAML profiles
src/main/resources/application-dev.yml
src/main/resources/snippet-minio-dev.yml
src/main/resources/snippet-mysql-dev.yml
src/main/resources/snippet-aladdin-dev.yml
src/main/resources/snippet-elasticsearch-dev.yml
src/main/resources/snippet-jpa-logging-dev.yml
